* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.gradient__bg {
  background: rgb(91, 191, 186);
  background: linear-gradient(
    90deg,
    rgba(91, 191, 186, 1) 0%,
    rgba(95, 108, 175, 1) 25%
  );
}
